@model HomeBudgetTracker.Models.Expense

<h2>Usuń wydatek</h2>

<p>Czy na pewno chcesz usunąć ten wydatek?</p>

<div>
    <strong>@Model.Category</strong>
    -
    @Model.Amount zł
</div>

<form asp-action="Delete">

    <input type="hidden"
           asp-for="Id" />

    <button type="submit"
            class="btn btn-danger">
        Usuń
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Anuluj
    </a>

</form>